* {
    background-color: rgb(17, 17, 17)
}

body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    box-sizing: border-box; /* Asegura que el modelo de caja sea border-box */
}

main {
  overflow: hidden; /* Evita que los contenidos floten fuera del main */
}

/******nav section (mobile)******/

  header {
    display: flex;
    justify-content: space-between;
  }

  header img {
    background-color: transparent;
    max-width: 100%;
    display: flex;
    padding-left: 2.0rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    max-width: 40%;
    height: 80px;
    margin: 10px 10px;
  }

  nav {
    padding-top: 30px;
    text-align: right;
   }

.toggle i {
    color: rgb(0, 0, 0);
    font-size:2.0rem;
    margin: 20px 30px 30px 0;
    background-color: rgb(255, 255, 255); 
} 

.toggle {
  background-color: transparent;
}
  
.login-anchor {
    display: none;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: none; 
}

nav ul li {
    font-size:1.2rem;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    text-align: center;
    margin-right: 30px;
    padding: 8px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: color 0.3s ease; 
  }

  li {
    display: list-item;
  }

    li:hover {
    color: #ffcc00; 
  }

.login-anchor{ 
    margin-top: 10px;
    visibility: hidden;
}  
   

nav li a {
    text-decoration: none;
    display: inline-block; 
    text-decoration: none; /***todo esto pertenece al boton del menu login**/
   /* background-color: rgb(255, 255, 1);
    color: #000000;
    padding: 5px 27px;
    border-radius: 25px;
    font-size: 1.2rem; */
}

.show-items {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     margin-bottom: 10px;
     /*width: 180px;*/ /*este width era el problema en el nav*/
 }

 .log-in {
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition: transform 0.5s ease;
 }

 .log-in:hover {
  background: #b429ff;
  transform: scale(1.1);
 }

 /******Hero section (mobile)******/

   .H {  /*****por esto no quedaba el diseño resposive******/
  text-align: center;
 }

.hero h3 {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-a1aeb7);
    text-align: center;
    letter-spacing: 0px;
    max-width: 100%;
    margin: 20px;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 150px;
 }

 .hero h1 {
    background: transparent;
    color: #ffffff;
    text-align: center;
    font-size: 2.8rem;
    line-height: 48px;
    font-weight: 700;
    margin: 0 42.5px 75px 42.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-top: 10px;
  }

    .hero a {
    max-width: 100%;
    display:inline-block;
    align-items: center; 
    justify-content: center; 
    background-color: rgb(255, 255, 1);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 40px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  a {
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition: transform 0.5s ease;
   }
  
   a:hover {
    background: #b429ff;
    transform: scale(1.1);
   }

.banner {
  position:static;
  height: 90px;
}  

  .colors_mobile {
    max-width: 100%;
    position:static; /*se coloco para que no se mueva la imagen de colores y poder diseñar lo de abajo sin que se traslape*/
    height: auto;
  }

  .colors_desktop {
    display: none;
  }

  .hero {
    padding-top: 50px;
    display:inline-block;
    background: transparent;
    background-size: cover;
    text-align: center;
    padding: 40px;
    margin-bottom: 20px; 
  }

  h3, h1, a {
    margin: 0;
  }

  .hero h3 {
    margin-top: -480px;
    max-width: 100%;
    font-size: 1.6rem;
    padding-top: 450px;
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
  }

  .background4 {
    visibility: hidden;
  }

   /******Content section (mobile)******/

   .content {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background: transparent;
  }

  .content h5 {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1.5);
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    text-align: center;
    width: 100%;
    /*background: transparent;*/
    padding: 50px 10px;
    margin-top: 120px;
  }

  .title2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Poppins, sans-serif;
    font-size: var(--font-size--h3);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin: 10px 0px 0px 50px;
    font-weight: 800;
    line-height: 250%;
    display: block;
  }

  .Tickets img {
    width: 80px;
    margin: 0 auto; /* Centra la imagen */
    background-color: transparent;
  }

  .Tickets1 p {   /*pertenece al titulo*/
      text-align: center;
      max-width: 100%;
      background: rgba(147, 100, 204);
      font-family: Lexend Deca,sans-serif;
      font-size: 1.2rem;
      margin: 0px;
      padding: 0px;
      /*padding-left: 0px; */
  }

   .contain {
    justify-content: center;
    padding-left: 10px;
}

  .text1 {   /*pertenece al texto de cada cuadro*/
    max-width: 100%;
    width: 350px;
    /*height: 25vh;*/
    background:  rgb(147, 100, 204);
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 10px 80px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: -10px;
  }

  .Tickets2 p {
      /*border-radius: 10px;*/
      max-width: 100%;
      background: rgb(255, 138, 81);
      text-align: center;
      font-family: Lexend Deca,sans-serif;
      font-size: 1.2rem;
  }

  .text2 {
    max-width: 100%;
    /*height: 25vh;*/
    background-color: rgb(255, 138, 81);
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 10px 80px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
  }

  .Tickets3 p {
      /*border-radius: 10px;*/
      max-width: 100%;
      background: rgb(1, 197, 229);
      text-align: center;
      font-family: Lexend Deca,sans-serif;
      font-size: 1.2rem;
  }

  .text3 {
    max-width: 100%;
    /*height: 25vh;*/
    background:rgb(1, 197, 229);
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 10px 80px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
  }

  .Tickets4 p {
      /*border-radius: 10px;*/
      max-width: 100%;
      background: rgb(0, 174, 153);
      text-align: center;
      font-family: Lexend Deca,sans-serif;
      font-size: 1.2rem;
  }

  .text4 {
    max-width: 100%;
    /*height: 25vh;*/
    background: rgb(0, 174, 153);
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 10px 80px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
  }

.Tickets1,
.Tickets2,
.Tickets3,
.Tickets4 {
    flex: 1;
    margin: 0px;
    text-align:justify;
    max-width: 100%; /* Ajustar el ancho máximo */
}

.text1,
.text2,
.text3,
.text4 {
  width: auto;
  height: 300px;
  font-size: 1.0rem;
}

  /***********Call to action section (mobile)***********/

  .accion {  /*****por esto no quedaba el diseño resposive******/
    text-align: center;
    overflow: hidden;
    margin-bottom: 0px;
   }
  
  .accion h5 {
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-a1aeb7);
      text-align: center;
      letter-spacing: 0px;
      max-width: 100%;
      margin: 70px;
      color: rgb(255, 255, 255);
      opacity: 1;
      font-size: 1.3rem;
      font-family: 'Ubuntu', sans-serif;
      background-image: url();
   }
  
   .accion p {
      background: transparent;
      color: #ffffff;
      text-align: center;
      font-size: 2.5rem;
      line-height: 48px;
      font-weight: 700;
      margin: 0 42.5px 75px 42.5px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      padding-top: 60px;
    }
  
      .accion a {
      max-width: 100%;
      display:inline-block;
      align-items: center; /* Centra verticalmente */
      justify-content: center; /* Centra horizontalmente */
      background-color: rgb(255, 255, 1);
      text-transform: uppercase;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1.2rem;
      padding: 10px 40px;
      border-radius: 50px;
      font-family: 'Ubuntu', sans-serif;
      padding-bottom: 10px;
      box-shadow: 0px 10px 10px black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin:20px;
      transition-duration: 0.25s;
      transition-timing-function: linear;
      transition: transform 0.5s ease;
    }
    
     a:hover {
      background: #b429ff;
      transform: scale(1.1);
     }

  
      /***********Footer (mobile)***********/

      .container {
        /*display: flex;*/
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
        padding: 10px;
        margin:-60px 0px 0px;
      }
    
      .image {
          flex: 1; /* Cada imagen ocupará el mismo espacio */
          margin: 40px;
          text-align: center;
      }

      .image img {
        max-height: 100px;
        width: auto;
        /*max-width: 100%; /* La imagen no sobrepasará el ancho de su contenedor */
        height: auto;
      }

      .footer1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color:#ffffff;
        font-size: 1.5rem;
        padding: 15px;
      }

      .footer1 p {
        flex: 1 0 auto;
        margin: 10px;
        text-align: center;
        transition: color 0.3s ease; 
      }

      .footer1 p:hover {
        color: #ffcc00; 
      }

      .container2 {
        font-family: Poppins,sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color:rgb(146, 100, 204);
        font-size: 1.8rem;
        align-items: center;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 110%;
        padding: 15px;
      }
   
       .footer-below {
        border-top: 1px solid #C2D1D9;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;;
        font-size: 1.2rem;
        color: #A1AEB7;
        text-align: center;
       }

       footer img {
        margin-bottom: 0;
        max-width: 100%;
        height: auto;
        display: block;
        /*margin: -200px auto;
        padding: 93px; */
       }

       /*************** INICIO PAGINA 2 ****************/

       /*** *** Ticket Section MOBILE (2ND PAGE) *** ***/ 

  /*Nav section MOBILE (tickets)*/

  header {
    display: flex;
    justify-content: space-between;
  }

  header img {
    background-color: transparent;
    max-width: 100%;
    display: flex;
    padding-left: 2.0rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    max-width: 40%;
    height: 80px;
    margin: 10px 10px;
  }

  nav {
    padding-top: 30px;
    text-align: right;
    
   }

.toggle i {
    color: rgb(0, 0, 0);
    font-size:2.0rem;
    margin: 20px 30px 30px 0;
    background-color: rgb(255, 255, 255); 
} 

.toggle {
  background-color: transparent;
}
  
.login-anchor {
    display: none;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: none; 
}

nav ul li {
    font-size:1.2rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-right: 30px;
    padding: 8px 0;
    font-family: futura-pt, sans-serif;
    transition: color 0.3s ease; 

  }

  li {
    display: list-item;
  }

    li:hover {
    color: #ffcc00; 
  }

.login-anchor{ 
    margin-top: 10px;
    visibility: hidden;
}  
   

nav li a {
    text-decoration: none;
    display: inline-block; 
    text-decoration: none; /***todo esto pertenece al boton del menu login**/
}

.show-items {
  display: inline-flex;
     /*display: flex;*/
     flex-direction: column;
     align-items: flex-end;
     margin-bottom: 10px;
     /*width: 180px;*/ /*este width era el problema en el nav*/
 }

 .log-in {
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition: transform 0.5s ease;
 }

 .log-in:hover {
  background: #b429ff;
  transform: scale(1.1);
 }

/**********Hero section MOBILE (video) tickets ***********/

 .banner-video {
  width: 100%;
  height: 300px;
  object-fit:fill;
  object-fit: cover;
}

.videohero {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
}

/**** Content section MOBILE (tickets) ****/

.date h4 {
  font-family: 'Bungee', sans-serif;
  font-size: 5.5rem; 
  text-align: center;
  text-transform: uppercase;
  color:rgb(114, 212, 74);
  margin-top: 20px;
  padding: -5px;
}

.date h5 {
  font-family: 'Bungee', sans-serif;
  font-size: 3rem; 
  text-align: center;
  text-transform: uppercase;
  color:rgb(114, 212, 74);
  margin-top: -120px;
  font-family: 'Bungee',Helvetica,Arial,Lucida,sans-serif;
}

.date h6 {
  font-family: 'Bungee', sans-serif;
  font-size: 3.3rem; 
  text-align: center;
  text-transform: uppercase;
  color:rgb(255, 255, 255);
  margin-top: -30px;
  font-family: 'Bungee',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 800;
}

/*****call to action- MOBILE (tickets)*****/

table {
	  border: 2px solid yellow;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 15px;
    overflow:hidden;
    /*margin:auto;*/
    margin-top: -50px;
    width: 80%;
    /*Estilos para tabla responsiva*/
    max-width: 100%;
    display:flex;
    color: #ffcc00;
    font-size: 15px;
}

table tr td {
  border-bottom: 2px solid #ffcc00;
  padding: 10px; /* Ajusta según tus necesidades */
  /*text-decoration: none;*/
  /*background-color: #424B5A; /***ESTE TAMBIEN ES AZUL, REVISAR***/
  color: #FFFFFF;
  /*padding: 12px 50px;
  border-radius: 5px;
  font-size: 1.2rem;*/
}

.button a {
display: inline-flex;
margin: 8px;
background: #ffcc00;
padding: 10px 35px;
border-radius: 20px;
text-decoration: none;
font-size: 1.2rem;
text-transform: uppercase;
font-family: futura-pt, sans-serif;
}

.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
  /*width: 180px;*/ /*este width era el problema en el nav*/
}

/* .button a {  /*PARA CONFIGURAR EL BOTON DEL NAV LOG IN*/
 /*  background-color: #ffcc00;
  color: #000;
  padding: 8px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  /*cursor: pointer;*/
/*
 max-width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 1);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 40px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */


.purchase-button {
  /* Estilos específicos para el botón de Purchase */
  background-color: #b429ff; /* Puedes ajustar el color según tus preferencias */
  color:#04ff00; /* Color del texto */
  padding: 12px 35px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  /*transition: transform 0.5s ease;*/
}

 .purchase-button:hover {
  background: rgb(0, 255, 214);
  transform: scale(1.1);
  color:blue;
  font-weight: 700;
  transition: transform 0.5s ease;
 }

 /*****Footer MOVIL (tickets) *****/

 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
  margin:80px 0;
  font-size: 0.9rem;
}

.footer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color:#ffffff;
  font-size: 1.0rem;
  padding: 0px;
}

.footer1 p {
  flex: 1 0 auto;
  margin: 10px;
  text-align: center;
  transition: color 0.3s ease; 
}

.footer1 p:hover {
  color: #ffcc00; 
}

 .footer-below {
  border-top: 1px solid #C2D1D9;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;;
  font-size: 1.0rem;
  color: #A1AEB7;
  text-align: center;
  font-weight: 900px;
 }

 footer img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 60px auto;
  padding: 5px;
}

.image img {
  max-width: 100%;
  width: auto;
  height: auto;
}

footer img {
  width: 80%; /* Ajusta según sea necesario para dispositivos móviles */
  margin-bottom: 10px; /* Espacio entre las imágenes en dispositivos móviles */
}

      
      /******  /****** /**** DESKTOP SECTION 2ND PAGE ******/ *****/ ****/
      
      /* Large devices (desktop, 1024px and up) */
      @media screen and (min-width: 1200px) {  

   /******DESKTOP SECTION******/
      }

      /* Estilos para dispositivos de escritorio */
      
      @media only screen and (min-width: 1024px) {

        /* Nav section */

        nav .toggle {
            display: none;
        }

        .navigation-elements ul {
            display: flex;
            flex-direction: row;
            margin-top: 0;
        }

        .show-items li {
            margin-right: 60px; 
        }

        nav {
          padding-top: 40px;
          text-align: right;
          display: inline-flex;
        }

        /******Hero section******/  

        .colors_mobile {
          display: none;
        }

        .colors_desktop {
          display: block;
        }

        .hero h3 {
          font-size: 2.5rem; 
          margin-top: -300px;
        }
  
    .hero h1 {
      font-size: 3.9rem; 
      line-height: 0.95;
    }
  
    .hero a {
      font-size: 1.5rem;
    }

    /*****Content section*****/

    .content {
      flex-direction:row;
      align-items: center; 
    }

    .Tickets1,
    .Tickets2,
    .Tickets3,
    .Tickets4 {
      flex: 1;
      max-width: 45%; /* Ajusta el ancho máximo según tus necesidades */
    }


    /*****Call to acction section******/

.accion h5 {
    font-size: 1.8rem;
    padding-top: 150px;
 }

 .accion p {
    font-size: 3.2rem;
    padding-top: 90px;
  }

    .accion a {
    font-size: 1.6rem;
  }

  /*** ***** ******  TICKET SALES (MOVIL) 2ND PAGE **** ***** ****/

  /*Nav section*/

  header {
    display: flex;
    justify-content: space-between;
  }

  header img {
    background-color: transparent;
    max-width: 100%;
    display: flex;
    padding-left: 2.0rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    max-width: 40%;
    height: 80px;
    margin: 10px 10px;
  }

  nav {
    padding-top: 30px;
    text-align: right;
   }

.toggle i {
    color: rgb(0, 0, 0);
    font-size:2.0rem;
    margin: 20px 30px 30px 0;
    background-color: rgb(255, 255, 255); 
} 

.toggle {
  background-color: transparent;
}
  
.login-anchor {
    display: none;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: none; 
}

nav ul li {
    font-size:1.2rem;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    text-align: center;
    margin-right: 30px;
    padding: 8px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: color 0.3s ease; 
  }

  li {
    display: list-item;
  }

    li:hover {
    color: #ffcc00; 
  }

.login-anchor{ 
    margin-top: 10px;
    visibility: hidden;
}  
   

nav li a {
    text-decoration: none;
    display: inline-block; 
    text-decoration: none; /***todo esto pertenece al boton del menu login**/
}

.show-items {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     margin-bottom: 10px;
     /*width: 180px;*/ /*este width era el problema en el nav*/
 }

 .log-in {
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition: transform 0.5s ease;
 }

 .log-in:hover {
  background: #b429ff;
  transform: scale(1.1);
 }

/**********Hero section (video)***********/

 .banner-video {
  width: 100%;
  height: 300px;
  object-fit:fill;
  object-fit: cover;
}

.videohero {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
}

/**** Content section ****/

.date h4 {
  font-family: 'Bungee', sans-serif;
  font-size: 6.5rem; /* antes 5.5rem*/
  text-align: center;
  text-transform: uppercase;
  color:rgb(255, 1, 243);
  margin-top: 20px;
  padding: -5px;
}

.date h5 {
  font-family: 'Bungee', sans-serif;
  font-size: 4rem; /* antes 3rem*/
  text-align: center;
  text-transform: uppercase;
  color:rgb(255, 1, 243);
  margin-top: -120px;
}

.date h6 {
  font-size: 4rem;
  margin-top: -50px;
}

/*****call to action section*****/

table {
	border: 2px solid yellow;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
    overflow:hidden;
    margin:auto;
    width: 80%;
    /*Estilos para tabla responsiva*/
    max-width: 100%;
    display: block;
}


/*********** Footer ***********/

.container {
  /*margin-bottom: 80px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  margin:80px 0;
}

.footer1 {
  font-family: Poppins,sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color:#ffffff;
  font-size: 1.5rem;
  padding: 30px; /*antes 150*/
  padding-bottom: 45px; /*antes 45px*/
  margin-bottom: -83px; /*antes 80px*/
}

.footer1 p {
  flex: 1 0 auto;
  margin: 40px;
  text-align: center;
  transition: color 0.3s ease; 
}

.footer1 p:hover {
  color: #ffcc00; 
}

.container2 {
  font-family: Poppins,sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color:rgb(146, 100, 204);
  font-size: 1.8rem;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 110%;
  padding: 15px;
}

 .footer-below {
  border-top: 1px solid #C2D1D9;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;;
  font-size: 1.2rem;
  color: #A1AEB7;
  text-align: center;
 }

 footer img {
  width: 100%;
  max-width: 200px;
  /*height: auto;
  display: block;*/
  /*margin: 0;*/
  /*float: left;*/
  /*margin-right: 10px;*/
  /*padding: 5px;*/
}

  /*footer img {
  width: 30%; /* Ajusta según sea necesario para dispositivos móviles */
  /*margin-bottom: 10px; /* Espacio entre las imágenes en dispositivos móviles */
}


/*************** INICIO PAGINA 3 (CAMPING) ****************/

/* * * * * * * Content section (Mobile)* * * * * */

.date {
  margin-bottom: 30px;
}

.date h4 {
  color: #505D68;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700;
}

.Camp_desktop {
  display: none;
 /* color: #505D68;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700; */   /*this is for desktop*/
}

.camp2 {
  display: none;
}

.camping_images img {
  width: 365px;
  height: 290px;
  margin-left: -70px;
}

.feature-boxes, .features-row {
  margin: 0 20px;  
}

.features-boxes{
  border-bottom:2px solid #F2F5F7;
}

.features-boxes h3 {
    font-size: 2.1rem;
    font-weight: 700;
    color: #505D68;
}

.features-boxes p {
  font-size: 1.4rem;
  color: #A1AEB7;
  padding: 0px 40px 15px 0px;
  line-height: 21px;
}

/* * * * * *  Call to acction section (Mobile)* * * * * */

.accion {  /*****por esto no quedaba el diseño resposive******/
  text-align: center;
  overflow: hidden;
  margin-bottom: 0px;
 }

.accion h5 {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-a1aeb7);
    text-align: center;
    letter-spacing: 0px;
    max-width: 100%;
    margin: 70px;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    background-image: url();
 }

 .accion p {
    background: transparent;
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    line-height: 48px;
    font-weight: 700;
    margin: 0 42.5px 75px 42.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-top: 60px;
  }

    .accion a {
    max-width: 100%;
    display:inline-block;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    background-color: rgb(255, 255, 1);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 40px;
    border-radius: 50px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin:20px;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition: transform 0.5s ease;
  }
  
   a:hover {
    background: #b429ff;
    transform: scale(1.1);
   }

 /* * * * * * * Footer section (Mobile) * * * * * */