* {
    background-color: rgb(17, 17, 17)
}

body {
    margin: 0;
    padding: 0;
}

/******nav section******/

  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: rgb(0, 0, 0) 0% no-repeat padding-box;
  }

  header img {
    background-color: transparent;
    max-width: 100%;
    /*width: 300px; */
    display: flex;
    padding-left: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    max-width: 40%;
    height: 80px;
    /*height: auto;*/
    /*width: 250px;
    height: 150px;*/
    margin: 10px 10px;
  }

  nav {
    background-color: rgb(0, 0, 0);
    padding-left: -30px;
  }

.toggle i {
    color: rgb(0, 0, 0);
    font-size:2.0rem;
    /*margin: 50px 30px 30px 0;*/
    margin: 20px 30px 30px 20px;
    background-color: rgb(255, 255, 255); 
   /* margin-top: 40px;
    margin-right: 2.0rem; */
} 

.toggle {
  background-color: #000000;
}
  
.login-anchor{
    display: none;
  }
  
nav {
    padding-top: 30px;
    padding-right: 20px;
    text-align: right;
   }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: none; 
    background: rgb(0, 0, 0); 
}

nav ul li {
    background: rgb(0, 0, 0); 
    font-size:1.2rem;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    text-align: center;
    margin-right: 30px;
    padding: 8px 0;
    font-family: 'Ubuntu', sans-serif;
  }

.login{ 
    margin-top: 10px;
}  
   

nav li a{
    text-decoration: none;
    background-color: rgb(255, 255, 1);
    color: #000000;
    padding: 8px 40px;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0px 10px 10px black;
    margin-top: -55px;
    text-transform: uppercase;
}

.show-items {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     margin-bottom: 15px;
     width: 180px;
 }

 /******Hero section******/

.hero h3 {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-a1aeb7);
    text-align: center;
    letter-spacing: 0px;
    max-width: 100%;
    margin: 25px;
    /*margin-top: -100px;*/
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
 }

 .hero h1 {
    color: #ffffff;
    text-align: center;
    font-size: 3.0rem;
    line-height: 48px;
    font-weight: 700;
    margin: 0 42.5px 75px 42.5px;
  }

  .hero a {
    max-width: 100%;
    background-color: rgb(255, 255, 1);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 100px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px black;
  }

  .banner img {
    max-width: 120%;
    /*max-width: 50%;*/
    /*height: auto;
    display: block;
    margin: auto;*/
  }

  .banner {
    height: 100px;
  }

  .hero {
    max-width: 100%;
    padding-top: 50px;
    margin-left: 18px;
  }

  .hero h3 {
    margin-top: -480px;
    max-width: 100%;
    font-size: 1.7rem;
  }

  .background4 {
    visibility: hidden;
    /*max-width: 100%;*/
  }

   /******Content section******/

  .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color:rgb(255, 1, 243);
    text-align: center;
    padding-top: 150px;
  }