* {
    background-color: rgb(17, 17, 17)
}

body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    box-sizing: border-box; /* Asegura que el modelo de caja sea border-box */
}

main {
  overflow: hidden; /* Evita que los contenidos floten fuera del main */
}

/******nav section******/

  header {
    display: flex;
    /*width: 100%;*/
    justify-content: space-between;
    /*background: rgb(0, 0, 0) 0% no-repeat padding-box;*/
  }

  header img {
    background-color: transparent;
    max-width: 100%;
    display: flex;
    padding-left: 2.0rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    max-width: 40%;
    height: 80px;
    margin: 10px 10px;
  }

  nav {
    padding-top: 30px;
    text-align: right;
   }

  /*nav {
    background-color: rgb(0, 0, 0);
    padding-left: -30px;
  }*/

.toggle i {
    color: rgb(0, 0, 0);
    font-size:2.0rem;
    /*margin: 20px 30px 30px 120px;*/
    margin: 20px 30px 30px 0;
    background-color: rgb(255, 255, 255); 
} 

.toggle {
  background-color: transparent;
}
  
.login-anchor {
    display: none;
  }
  
  /*nav {
    /*padding-top: 30px;
    /*padding-right: 50px;*/
   /* text-align: right;
   }*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: none; 
    /*background: rgb(0, 0, 0); */
}

nav ul li {
    /*background: rgb(0, 0, 0); */
    font-size:1.2rem;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    text-align: center;
    margin-right: 30px;
    padding: 8px 0;
    /*margin-right: 30px;*/
    /*padding: 8px 0;*/
    font-family: 'Ubuntu', sans-serif;
    transition: color 0.3s ease; 
  }

  li {
    display: list-item;
  }

    li:hover {
    color: #ffcc00; 
  }

.login-anchor{ 
    margin-top: 10px;
    visibility: hidden;
}  
   

nav li a {
    text-decoration: none;
    /*background-color: rgb(255, 255, 1);
    color: #000000;
    padding: 8px 40px;
    border-radius: 20px;
    font-size: 1.2rem;
    box-shadow: 0px 10px 10px black;
    margin-top: -55px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
    display: inline-block; 

    text-decoration: none; /***todo esto pertenece al boton del menu login**/
    background-color: rgb(255, 255, 1);
    color: #000000;
    padding: 5px 27px;
    border-radius: 25px;
    font-size: 1.2rem;
}

.show-items {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     /*margin-bottom: 15px;*/
     margin-bottom: 10px;
     /*width: 180px;*/ /*este width era el problema en el nav*/
 }

 .log-in {
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition: transform 0.5s ease;
 }

 .log-in:hover {
  background: #b429ff;
  transform: scale(1.1);
 }

 /******Hero section******/

   .H {  /*****por esto no quedaba el diseño resposive******/
  text-align: center;
 }

.hero h3 {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-a1aeb7);
    text-align: center;
    letter-spacing: 0px;
    max-width: 100%;
    margin: 20px;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 150px;
 }

 .hero h1 {
    background: transparent;
    color: #ffffff;
    text-align: center;
    font-size: 2.8rem;
    line-height: 48px;
    font-weight: 700;
    margin: 0 42.5px 75px 42.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-top: 10px;
  }

    .hero a {
    max-width: 100%;
    display:inline-block;
    align-items: center; 
    justify-content: center; 
    background-color: rgb(255, 255, 1);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 40px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  a {
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition: transform 0.5s ease;
   }
  
   a:hover {
    background: #b429ff;
    transform: scale(1.1);
   }

.banner {
  position:static;
  height: 90px;
}  

  .colors_mobile {
    max-width: 100%;
    position:static; /*se coloco para que no se mueva la imagen de colores y poder diseñar lo de abajo sin que se traslape*/
    height: auto;
  }

  .colors_desktop {
    display: none;
  }

  .hero {
    padding-top: 50px;
    display:inline-block;
    background: transparent;
    background-size: cover;
    text-align: center;
    padding: 40px;
    margin-bottom: 20px; 
  }

  h3, h1, a {
    margin: 0;
  }

  .hero h3 {
    margin-top: -480px;
    max-width: 100%;
    font-size: 1.6rem;
    padding-top: 450px;
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
  }

  .background4 {
    visibility: hidden;
  }

   /******Content section (benefits)******/

   .content {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background: transparent;
  }

  .content h5 {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1.5);
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    text-align: center;
    width: 100%;
    /*background: transparent;*/
    padding: 50px 10px;
    margin-top: 120px;
  }

  .title2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Poppins, sans-serif;
    font-size: var(--font-size--h3);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin: 10px 0px 0px 50px;
    font-weight: 800;
    line-height: 250%;
    display: block;
  }

  .Tickets img {
    width: 80px;
    margin: 0 auto; /* Centra la imagen */
    background-color: transparent;
  }

  .Tickets1 p {   /*pertenece al titulo*/
      text-align: center;
      max-width: 100%;
      background: rgba(146, 100, 204);
      font-family: Lexend Deca,sans-serif;
      font-size: 1.2rem;
      margin: 0px;
      padding: 0px;
      /*padding-left: 0px; */
  }

   .contain {
    justify-content: center;
    padding-left: 10px;
}

  .text1 {   /*pertenece al texto de cada cuadro*/
    max-width: 100%;
    width: 350px;
    /*height: 25vh;*/
    background:  rgba(146, 100, 204);
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 10px 80px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: -10px;
  }

  .Tickets2 p {
      /*border-radius: 10px;*/
      max-width: 100%;
      background: rgb(255, 138, 81);
      text-align: center;
      font-family: Lexend Deca,sans-serif;
      font-size: 1.2rem;
  }

  .text2 {
    max-width: 100%;
    /*height: 25vh;*/
    background-color: rgb(255, 138, 81);
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 10px 80px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
  }

  .Tickets3 p {
      /*border-radius: 10px;*/
      max-width: 100%;
      background: rgb(1, 197, 229);
      text-align: center;
      font-family: Lexend Deca,sans-serif;
      font-size: 1.2rem;
  }

  .text3 {
    max-width: 100%;
    /*height: 25vh;*/
    background:rgb(1, 197, 229);
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 10px 80px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
  }

  .Tickets4 p {
      /*border-radius: 10px;*/
      max-width: 100%;
      background: rgb(0, 174, 153);
      text-align: center;
      font-family: Lexend Deca,sans-serif;
      font-size: 1.2rem;
  }

  .text4 {
    max-width: 100%;
    /*height: 25vh;*/
    background: rgb(0, 174, 153);
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 10px 80px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
  }

.Tickets1,
.Tickets2,
.Tickets3,
.Tickets4 {
    flex: 1;
    margin: 0px;
    text-align:justify;
    max-width: 100%; /* Ajustar el ancho máximo */
}

.text1,
.text2,
.text3,
.text4 {
  width: auto;
  height: 300px;
  font-size: 1.0rem;
}

/*.video-container {
  position: relative;
  max-width: 100%;
  padding-bottom: 56.25%; 
}*/

/*video {
  width: 100%;
  height: auto;
  display: block;
}*/

  /***********Call to action section***********/

  .accion {  /*****por esto no quedaba el diseño resposive******/
    text-align: center;
    overflow: hidden;
    margin-bottom: 0px;
   }
  
  .accion h5 {
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-a1aeb7);
      text-align: center;
      letter-spacing: 0px;
      max-width: 100%;
      margin: 70px;
      color: rgb(255, 255, 255);
      opacity: 1;
      font-size: 1.3rem;
      font-family: 'Ubuntu', sans-serif;
      background-image: url();
   }
  
   .accion p {
      background: transparent;
      color: #ffffff;
      text-align: center;
      font-size: 2.5rem;
      line-height: 48px;
      font-weight: 700;
      margin: 0 42.5px 75px 42.5px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      padding-top: 60px;
    }
  
      .accion a {
      max-width: 100%;
      display:inline-block;
      align-items: center; /* Centra verticalmente */
      justify-content: center; /* Centra horizontalmente */
      background-color: rgb(255, 255, 1);
      text-transform: uppercase;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1.2rem;
      padding: 10px 40px;
      border-radius: 50px;
      font-family: 'Ubuntu', sans-serif;
      padding-bottom: 10px;
      box-shadow: 0px 10px 10px black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin:20px;
      transition-duration: 0.25s;
      transition-timing-function: linear;
      transition: transform 0.5s ease;
    }
    
     a:hover {
      background: #b429ff;
      transform: scale(1.1);
     }

  
      /***********Footer***********/

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
        padding: 10px;
        margin:80px 0;
      }
    
      .image {
          flex: 1; /* Cada imagen ocupará el mismo espacio */
          margin: 40px;
          text-align: center;
      }

      .imagen img {
        max-height: 100px;
        width: auto;
        /*max-width: 100%; /* La imagen no sobrepasará el ancho de su contenedor */
        height: auto;
      }

      .footer1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color:#ffffff;
        font-size: 1.5rem;
        padding: 15px;
      }

      .footer1 p {
        flex: 1 0 auto;
        margin: 10px;
        text-align: center;
        transition: color 0.3s ease; 
      }

      .footer1 p:hover {
        color: #ffcc00; 
      }

      .container2 {
        font-family: Poppins,sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color:rgb(146, 100, 204);
        font-size: 1.8rem;
        align-items: center;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 110%;
        padding: 15px;
      }
   
       .footer-below {
        border-top: 1px solid #C2D1D9;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;;
        font-size: 1.2rem;
        color: #A1AEB7;
        text-align: center;
       }

      
      /******DESKTOP SECTION******/
      
      /* Large devices (desktop, 1024px and up) */
      @media screen and (min-width: 1200px) {  

   /******DESKTOP SECTION******/
      }

      /* Estilos para dispositivos de escritorio */
      
      @media only screen and (min-width: 1024px) {

        /* Nav section */

        nav .toggle {
            display: none;
        }

        .navigation-elements ul {
            display: flex;
            flex-direction: row;
            margin-top: 0;
        }

        .show-items li {
            margin-right: 60px; 
        }

        /******Hero section******/  

        .colors_mobile {
          display: none;
        }

        .colors_desktop {
          display: block;
        }

        .hero h3 {
          font-size: 2.5rem; 
          margin-top: -300px;
        }
  
    .hero h1 {
      font-size: 3.9rem; 
      line-height: 0.95;
    }
  
    .hero a {
      font-size: 1.5rem;
    }

    /*****Content section*****/

    .content {
      flex-direction:row;
      align-items: center; 
    }

    .Tickets1,
    .Tickets2,
    .Tickets3,
    .Tickets4 {
      flex: 1;
      max-width: 45%; /* Ajusta el ancho máximo según tus necesidades */
    }


    /*****Call to acction section******/

.accion h5 {
    font-size: 1.8rem;
    padding-top: 150px;
 }

 .accion p {
    font-size: 3.2rem;
    padding-top: 90px;
  }

    .accion a {
    font-size: 1.6rem;
  }

  /*** PAGE 2 TICKET SALES (MOVIL) ***/

  /*Nav section*/
